/*____media queries_____*/

@media screen and (max-width: 1407px) {

    #overview {
        height: 80%;
        padding-bottom: 100px;
    }

    #overviewx div p {
        font-size: 98%;
    }

    .larger-pie-chart {
        width: 375px;
        height: 375px;
        z-index: 1;
    }

    #goal-list {
        width: 18em;
    }

}

@media screen and (max-width: 1233px) {
    .larger-pie-chart {
        width: 365px;
        height: 365px;
        z-index: 1;
    }
}

@media screen and (max-width: 1215px) {

    h1 {
        font-size: 3.5em;
    }

    #overviewx {
        height: 85%;
        border-radius: 150px;
        padding-bottom: 80px;
    }

    #overviewx div p {
        font-size: 85%;
    }

    #pie-chart-container {
        top: 50%;
        left: 50%;
    }

    .larger-pie-chart {
        width: 340px;
        height: 340px;
        z-index: 1;
    }

    #goal-list {
        width: 16em;
    }

}

@media screen and (max-width: 1024px) {

    h1 {
        font-size: 2.8em;
    }

    #overviewx {
        height: 100%;
        border-radius: 75px;
        padding-bottom: 80px;
    }

    #pie-chart-container {
        top: -10%;
        left: 55%;
    }

    #budgetx {
        width: 35em;
    }

    #spendingx {
        width: 35em;
    }

    #goal-list {
        width: 30em;
    }

}

@media screen and (max-width: 920px) {
    #goalsx {
        width: 35em;
    }

    #advisorx {
        width: 35em;
    }
}




@media screen and (max-width: 858px) {

    #goal-list {
        width: 27em;
    }
}


@media screen and (max-width: 820px) {

    h1 {
        font-size: 2.5em;
    }

    #budgetx {
        width: 34em;
    }
}

@media screen and (max-width: 768px) {

    .navLi {
        display: none;
    }

    #dropdownContainer {
        display: flex;
        justify-content: right;
    }

    #dropdownContainer .dropdown-trigger .button {
        background-color: #0371a1;
        border: 1px solid #65cff7;
    }

    #dropdownContainer .dropdown-trigger .button span:first-child {
        color: #d4f4ff;
        font-weight: bold;
    }

    #dropdownContainer .dropdown-menu {
        background-color: #d4f4ff;
        border-radius: 10px;
        list-style: none;
    }


    #dropdownContainer .dropdown-item a {
        font-size: 15px;
        padding: 4px 8px;
        background-color: #e9f5f6;
        color: #04245c;
        border: 1px solid #3bc0f9;
        border-radius: 10px;
    }

    h1 {
        font-size: 2em;
    }
}


/*

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.4em;
        position: relative;
        bottom: 2em;
        left: 2%;
    }

    #date {
        position: relative;
        bottom: 300px;
    }

    #overviewx {
        border-radius: 100px;
        width: 100%;
        position: relative;
        left: 4%;
        bottom: 15em;
        height: 20%;
        padding: 15px;
    }

    #overviewx div p {
        font-size: 75%;
    }

    #pie-chart-container {
        position: relative;
        background: transparent;
        bottom: 80%;
        left: 0%;
    }

    .larger-pie-chart {
        width: 300px;
        height: 300px;
        z-index: 1;
    }

    #budgetx {
        width: 17em;
        position: relative;
        bottom: 12em;
        left: 0%;
    }

    #spendingx {
        position: relative;
        width: 25em;
        height: 100%;
        bottom: 11em;
    }

    #goalsx {
        position: relative;
        height: 175%;
        width: 16em;
        bottom: 15em;
        left: 1.5%;
    }

    #advisorx {
        width: 100px;
        position: relative;
        bottom: 7em;
        left: 0%;
    }

} */