* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*___________________________Pie Chart_____________________ */
canvas {
    max-width: 400px;
    margin: 4em auto;
}

/*___________________________Global_______________________ */
h1 {
    color: #02425c;
    font-size: 4em;
    font-family: 'Black Han Sans', sans-serif;
}

/*___________________________h1 gradient__________________ */

.gradient-text {
    background: linear-gradient(270deg, rgba(2, 66, 92, 1) 5%, rgba(101, 207, 247, 1) 50%, rgba(2, 66, 92, 1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
<<<<<<< HEAD
}

=======
  }
  
/*___________________________body_________________________ */
body {
    background-color: #02122d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5;
    color: #02425c;
}
/*___________________________Background___________________ */
.overview,
.budget-set,
.receipts,
.goals,
.find-advisor {
    background-color: #cde4f3;
    padding: 2em 0;
}
>>>>>>> origin/main

/*___________________________Header_______________________ */

.nav {
    border-radius: 5px;
}

.list-item li {
    /*li-background*/
    padding: 0.4rem 1rem;
    border-radius: 20px;
    background-color: #e9f5f6;
    /*li-border*/
    border: #3bc0f9 2px solid;
    /*li-text-style*/
    color: #04245c;
    font-weight: 600;
    /*li-spacing*/
    gap: 20px;
    margin-right: 20px;
}



.header-title {
    height: 17em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*___________Pie Chart containers and pie chart__________*/
#overviewx {
    border-radius: 150px;
    width: 50%;
    padding: 40px;
    height: 55%;
}

#pie-chart-container {
    position: relative;
    background: transparent;
    bottom: 45%;
    left: 45%;
}

.larger-pie-chart {
    width: 400px;
    height: 400px;
    z-index: 1;
}

/*___________________________Advisor Modal_____________________ */
.advisorModalClass {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.AdvisorModalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e9f5f6;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #3bc0f9;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
}